<meta charset="utf-8">
<title>GOTTA CATCH EM ALL</title>
<!-- NORMALIZE & SKELETON CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
<!-- OWN CSS -->
<link rel="stylesheet" href="/css/app.css"/>
