<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Add New Product</title>
</head>

<body>
    <div class="form-container">
        <h1>Add Product</h1>
        <form action="/products" method="POST">
            <div class="name-title">Name: <div>
                    <input type="text" name="name">
                    <div class="name-title">Description: </div>
                    <textarea type="text" id="description" name="description"></textarea>
                    <div class="name-title">Image Source:</div>
                    <input type="html" name="img">
                    <div class="name-title">Price:</div>
                    <input type="text" id="price" name="price">
                    <div class="name-title">Quantity:</div>
                    <input type="number" name="qty"><br>
                    <input type="submit" class="medium-button" id="submit" name="" value="Create Product">
        </form>
    </div>
</body>

</html>