<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon App</title>
</head>

<style type="text/css">
    body {
        color: blanchedalmond;
        background-color: steelblue;
    }
</style>


<body>


    <h1>See All the Pokemon!</h1>
    <ul>
        <% for (let i=0;i<pokemon.length;i++){ %>
        <li><a href="/pokemon/<%=i%>"><%= pokemon[i].name.charAt(0).toUpperCase() + pokemon[i].name.substring(1) %></a>
        </li>
        <% } %>
    </ul>


</body>

</html>